body {
  margin: 0;
  padding: 0;
  background-color: rgb(252, 252, 252);
  min-height: 100vh;
  font-family: 'Segoe UI', sans-serif;
}

.page-center {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
